/******Custom Properties******/
:root{
    --first-color:#99CD4B;
    --first-green:rgba(13, 241, 127, 0.801);
    --green-color:#5a9603;
    --second-color:#b65d0a;
    --third-color:#FFFFFF;
    --fourth-color:#14192D;
    --font-h1: "Raleway Black", sans-serif;
    --font-h2: "Great Vibes", sans-serif;
    --font-p: "Raleway", sans-serif;
    --text-color:rgb(0, 0, 0);
    --text-color-menu:#ffff;
    --black-alpha-color: rgba(0, 0, 0, 0.384);
    --max-width: 1200px;
    --header-height:4rem
}

/******Reset******/

html{
    box-sizing: border-box;
    font-family: var(--font-p);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit; 
}

body{
    margin: 0;
    overflow-x: hidden;/*esto es para ocultar la barra de desplazamiento Horizontal*/
}

a{
    color: var(--third-color);
    transition: all o.5s ease-out;
}

/*a:hover{
    opacity: 0.75;
}*/

h1 {
    margin: 0;
    font-family: var(--font-h1);
    font-size: 2rem;
  }
  
  h2 {
    margin: 0;
    font-family: var(--font-h2);
    font-size: 1.5rem;
  }
  
  h3 {
    margin: 0;
    font-family: var(--font-h2);
    font-size: 1.25rem;
  }
  
  h4 {
    margin: 0;
    font-family: var(--font-h2);
    font-size: 1rem;
  }
  
  h5 {
    margin: 0;
    font-family: var(--font-h2);
    font-size: 0.85rem;
  }
  
  h6 {
    margin: 0;
    font-family: var(--font-h2);
    font-size: 0.7rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }


  p {
    font-family: var(--font-p);
    line-height: 1.6;
  }


/******barra******/
.progress{
  padding: 4px 0;
  width: 100%;
  height: 3px;
  background:var(--second-color);
}
.sweep{
  padding: 4px 0;
  background:var(--first-color);
  height: 3px;
  width: 0%;
}

/******Hero Image******/
.hero-image{
    background-image:var(--image) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: var(--attachment);
}

.hero-image-opacity{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   background-color: var(--hero-opacity-color);
}
.hero-image-title{
    font-size: 7.5vw;
    color: var(--hero-text-color); 
    text-shadow: var(--black-alpha-color);
}

a.btn{
    color: var(--second-color);
    text-shadow: rgb(12, 4, 15);
}
.btn{
    border: 2px solid var(--second-color);
    color:var(--first-color);
    text-decoration: none;
    display: block;
    text-align: center;
    transition:background-color .3s ease-in-out; 
}
.border:hover{
  background-color: var(--second-color);
  color: var(--third-color);

}


/*********Menu*********/
.menu-btn{
    outline: thin solid var(--second-color);
    border: 0;
    cursor: pointer;
    background-color: var(--second-color);
    
}
.menu-btn svg {
    fill: var(--first-color);
  }

.menu{
    position: fixed; 
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    background-color: var(--first-color);
    
   

   /* clip-path: circle(0.0% at 100% 0);*/
    /*background-color: var(--first-color);*/
    
}
/*.nav .menu{
  -webkit-clip-path: circle(140.9% at 100% 0);
  clip-path: circle(140.9% at 100% 100%);

 }*/

.menu.is-active{
    opacity: 1;
    pointer-events: auto;
    transition: ease-in-out 0.0.5s;
    
}
.menu a{
    padding: 1rem;
    font-size: 1.5rem;   
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
    background-color: var(--second-color);
      
}
.menu a:hover{
    color: var(--third-color);
    background-color:var(--first-color);
    
}
/******barra (min-width: 1024px)******/
@media screen and (min-width: 1024px){
  .progress{
    width: 100%;
    height: 6px;
    background:var(--second-color);
  }
  .sweep{
    background:var(--first-color);
    height: 6px;
    width: 0%;
}
}
@media screen and (min-width: 1024px){
    .menu-btn{
        display: none;
    }
    .menu{
        position: static;
        width: auto;
        flex-direction:row; /**/
        opacity: 1;
        pointer-events: auto;
        background-color: transparent;
    }
    .menu a{
        padding: 0 1rem;
        font-size: 1.30rem;
        color:var(--third-color); 
        background-color: var(--second-color);
    }
    .menu a:last-child{
        padding-right: 0;
    }
    .menu a:hover{
        background-color:transparent;
        
        
    }
   
}
   /**************************************/ 
/******Utilities******/
.box-shadow-1 {
   box-shadow: 0.25rem 0.25rem 1rem rgba(82, 250, 4, 0.596);
   
  }
  .btn{
    border-radius: 0.5rem;
    padding: 1rem;
    display: inline-block;
    width: 200px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--third-color);
    background-color: var(--first-color); 
  }
  
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
   
  }
.none{
    display:none;   
}
/******Site Styles******/
.footer{
    margin-bottom: var(--header-height);
    padding: 0.5rem;
    text-align: center;
    font-family:Arial Black ;
    color: var(--second-color);
    background-color:var(--first-color); 

}
.footer a{
font-family:Arial Black ;
color: var(--second-color);
}

.header {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 1rem;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
  }
  .header>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80%;
  }
  .logo a{
    font-family: "Great Vibes";
    color: var(--third-color);
    font-weight: bold;
    font-size: 2rem;
    text-decoration: none;
  }

   .logo span{
    color:var(--first-color)
  }
  /******Procesamiento de los Alimentos******/
.prosecution h2{
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
  color: var(--second-color);
}
.container-prosecution{
  background-image:var(--image);
  display: grid;
  grid-template-rows: repeat(1,1fr);
  background-size: cover;
  background-position: center;
}
.text-prosecution{
  grid-row: 2/3 ;
  background-color: var(--black-alpha-color);
  text-align: center;
}
.text-prosecution h3{
  padding: 0.50rem;
  font-size: 2rem;
  color: var(--third-color);
}
.container-prosecution p{
  margin-top: auto;
  padding: 2.50rem;
  text-align: justify;
  color: var(--third-color);
  white-space:normal;
}
@media screen and (min-width: 768px){
  .menu a{
    padding: 0.50rem;
    font-size: 1rem;   
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
    background-color: var(--second-color);
      
}
}

  @media screen and (min-width: 1024px){
    .logo a{
        font-size: 1.50rem;
    }
    .container-prosecution{
      grid-template-rows: repeat(2,1fr);
    }
    .container-prosecution{
      grid-template-columns: repeat(2,1fr);
    }
  
    .text-prosecution{
      grid-row: 2/3 ;
      background-color: var(--third-color);
      text-align: center;
    }
    .text-prosecution h3{
      padding: 1rem;
      font-size: 3rem;
      color: var(--second-color);
    }
    .text-prosecution p{
     font-size: 1.20rem;
     color: var(--second-color); 
    }
    

  }
   /******Métodos para la Conservación de las Frutas******/
   h2{
    padding: 1rem;
    text-align: center;
    color: var(--second-color);
    font-size: 2rem;
   }
   
   .methods_container{
    background-color: var(--green-color);
    padding: 2px;
    display: flex;
    flex-direction: column;
  
   }
   .methods_body{
    text-align: center;
    margin-left: 1rem;
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
   
    
   }

   .methods_img{
    padding: 0.10rem;
    margin-left: 0.50rem;
    display:block;
    width: 200px;
    height: 200px;
    border-radius: 25%;
    object-fit: cover;
   }
   .methods_texts{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
   }
   .subtitle{
    color: var(--third-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   }
   .methods_course{
    text-align: center;
    color:var(--second-color);
    display: inline-block;
    padding: 10px;
   }
   span.methods_course{
    font-size: small;
    text-align: center;
    color: var(--third-color);
   }
   
   .methods_texts ul li{
    padding: 1rem;
    color: var(--third-color);
    text-align: start ;
   }
   
   .methods_picture{
    padding: 0.5rem ;
    position: relative;
   }

   .methods_arrow{
    display: none;
   }
   .conservation{
    background-color: var(--green-color);
   }
   
   .container-conservation{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
 
   }
   .container-conservation  p{
    margin: 0px 5px;
    color:var(--third-color) ;
   }
   .conservation .conservation-p1{
    padding: 1rem 1rem;
    font-size: 1rem;
    text-align: justify;
   }
   .conservation .conservation-p2{
    padding: 1rem 1rem;
    font-size: 1rem;
    text-align: justify;
    
   }
   .container-conservation img{
    margin: 15px;
    display: block;
    background-position: center;
    position: relative;
    width: 90vw;
   }
   
   
   .fruits{
    margin-top: auto;
    background-color:var(--second-color);
    padding: 1rem;
    white-space:normal;
    font-size: 1rem;
    text-shadow:var(--hero-opacity-color);
    text-align: justify;
    color:var(--third-color);
   }
  
  /******processes******/
  .processes{
    background-color: var(--green-color);
  }
 
 
  .processes .processes-title{
    font-size: 3rem;
    color: var(--third-color);
    font-weight: bold;
    
  }
  .processes .processes_paragraph{
    padding: 0 5px;
    margin-left: 4px;
    text-align: justify;
    color: var(--third-color);
  }
  
  .modal-container img{
    width:100%;
    background-color: var(--green-color);
  }
 .modal .modal-container{
    background-color: var(--green-color);
  }
  .modal-closes{
    color: var(--green-color);
  }
  .modal-container a{
    color: var(--green-color);
  }
  
   /********card**********/
   .medidas{
    background-color: var(--green-color);
   }
   .section-title{
    padding: auto;
    font-weight: bold;
    color: var(--third-color);
    font-size: 3rem;
    
   }
   .medidas-card{
    position: relative;
    width: 100%;
   /* margin: 0 auto;
    display: block;*/
    background-color: var(--second-color);
   }
   .medidas-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   }
   .medidas-card-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color:var(--first-green);
    color: var(--second-color);
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease-in-out;
  
   }
   .medidas-card:hover .medidas-card-info{
    opacity: 0;
    pointer-events: none;
   }
   .medidas-card-info > div{
    padding: 0;
    border: thin solid var(--third-color);
    width: 100%;
    height: 100%;
   }

   @media screen and (min-width: 768px){
    .medidas >.container{
      display: grid;
      grid-template-columns: repeat(2,50%);   
   }
   .section-title{
    grid-column: span 2;

   }
   
  }
   @media screen and (min-width: 1024px){
  
    .medidas>.container{

      display: grid;
      grid-template-columns: repeat(2,50%);   
   }
   .section-title{
    grid-column: span 2;

   }
 
   }
  /***********************************************/

 /******processes******/
   @media screen and (min-width: 1024px){
    h2{
      padding: 1rem;
      text-align: center;
      color: var(--third-color);
      font-size: 2rem;
     }
    .methods{
      padding-bottom: 0;
      background-color:var(--green-color);
     }
     .methods_container{
      display: block;
      display: grid;
      grid-template-columns:  40px  40px 1fr ;
      gap: 2em;
      align-items: center;
     }
     .methods_body{
      display: grid;
      grid-template-columns: 1fr max-content ;
      justify-content: space-between;
      align-items: center;
      gap: 2em;
      grid-column: 4/4 ;
      grid-row: 1/4;
      opacity: 0;
      pointer-events: none;
     }
     .methods_body--show{
      pointer-events: unset;
      opacity: 1;
      transition: opacity 1.5s ease-in-out;
  
     }
  
     .methods_img{
      width: 400px;
      height: 400px;
      border-radius: 15%;
      object-fit: cover;
     }
     .methods_texts{
      max-width: 600px;
     }
     .methods_course{
      color: #FFFFFF;
      display: inline-block;
      padding: 2px;
     }
  
     .methods_arrow{
      display:block;
      width: 100%;
      cursor: pointer;
   }
   .container-conservation{    /****/
    display: flex;
    flex-direction: row;
    background-color: var(--green-color);
   }
    
   .conservation-uno img{
    padding: 5px;
    margin: 0.10rem;
    width: 330vw;
    
   } 
   
   .conservation-dos img{
    padding: 5px;
    margin: 0.10rem;
    width: 328vw;
    
  }
  
   .conservation .conservation-p1{
    font-size: 0.90rem;
    padding: 0.10rem ;
    text-align: justify;
   }
   .conservation .conservation-p2{
    font-size: 0.90rem;
    padding: 0.10rem ;
    text-align: justify;
   }

    #fruits{
    background-color:var(--green-color);
    padding: 1.50rem;
    white-space:normal;
    font-size: 1.30rem;
    text-shadow:var(--hero-opacity-color);
    text-align: unset;
    color:var(--third-color);
   }
   
  }
  /*************************************/
  @media screen and (min-width: 1024px){

    .full-lg-screen {
      width: 100%;
      min-height: 100vh;
    }

    .footer{
        margin-bottom: 0;
        color: var(--second-color);
        }
    .footer a{
      color: var(--second-color);
    }    
    .header{
        position: sticky;
        top: 0;
        padding: 0.5rem;
        height: calc(var(--header-height)-5rem);
    }
    .prosecution h2{
      text-align: center;
      font-size: 4rem;
      color: var(--second-color);
    }
    .container-prosecution img{
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      padding: 60px;
      gap: 2rem;
    }
    .container-prosecution{
      background-attachment: fixed;
    }
    
  }
  /******processes******/
  @media screen and (min-width: 1024px){
    
   
   
    .processes{
      background-color: var(--green-color);
    }

    .processes-title{
      color: var(--third-color);
      font-size: 4rem;
      
      
    }
    .processes_paragraph{
      color: var(--third-color);
      text-align: justify;
      margin-bottom: 10px;
      margin: 0.20rem 1rem;

    }
    .modal-closes{
      color: var(--third-color);
      margin: 1rem 0;
      margin-left: 50rem;
      text-decoration: none;
      background-color: var(--second-color);
      padding: 0.50em 1em;
      border: 1px solid;
      border-radius: 6px;
      display: inline-block;
      font-weight: 300;
      z-index: 999;
      transition: background-color .3s;

    }
    .modal-closes:hover{
      color: var(--second-color) ;
      background-color:var(--third-color);

    }
    .modal{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--third-color);
      display: flex;
      z-index: 999;
      opacity: 0;
      pointer-events: none;
    }
    .modal--show{
      opacity: 1;
      pointer-events: unset;
      
      

    }
    
    .modal-container{
      margin: auto;
      width: 40%;
      max-width:50%;
      max-height: 100%;
      background-color:var(--third-color);
      border-radius: 6px;
      padding: 0.10em 2em;
      display: grid;
      gap: 0.10em;
      place-items: center;
      grid-auto-columns: 100%;
      animation: ease-in animat 1s;
    }
  
    @keyframes animat {
      0%{
        transform: scale(0);
      }100%{
        transform: scale(1);
      }
    }
    .modal-container{
      align-items: center;
      flex-flow: row ;
      display: flex;
      justify-content: center;
    }
  
    .modal-img{
      width: 70%;
      height: 30%; 
    }
    
    .modal-close{
      margin: 1rem 1erm;
      text-decoration: none;
      background-color: var(--third-color);
      padding: 0.50em 1em;
      border: 1px solid;
      border-radius: 6px;
      display: inline-block;
      font-weight: 500;
      transition: background-color .3s;

    }
    .modal-close:hover{
      color:var(--third-color);
      background-color: var(--second-color);

    }
  }  
  /******Buenas Prácticas ******/
  .good_paragrap{
    padding: 1rem;
    text-align: justify;
    color: var(--third-color);
    background-color:var(--green-color);
  }
  .good_paragrap h2{
    color: var(--third-color);
    font-size: 3rem;
  }
  .imag_practical img{
    width: 100%;
    height: 50%;
    background-color:var(--green-color);
  }
  @media screen and (min-width: 1024px){
    .good_practical{
      display: grid;
      grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));

    }
    .good_paragrap {
      grid-column: span 4;
    }
    .imag_practical img{
      height: 100%;
    }
    
  }
/******contact card ******/

.container-paragraph h2{
 color: var(--second-color);
}
.contact-card{
  font-family: 'Courier New', Courier, monospace;
  margin: 1rem auto;
  padding: 1rem;
  width: 100%;
  height: 144px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact-card >svg{
  width: 2rem;
  height: 2rem;
  fill:var(--second-color);
}
.contact-card >small{
  color: var(--second-color);
}
.contact-card a{
  color: var(--second-color);
}
.contact-card h5{
  font-size: 1rem;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  color: var(--second-color);
}
.social-media a{
  padding: 0 .4rem;
  text-decoration: none;
}
.social-media svg{
fill:var(--second-color);
width: 2rem;
height: 2rem;
}
/*********contact-form**********/
.contact-form{
  margin: 2rem auto;
  padding: 1rem;
  max-width: 800px;
}
.contact-form >*{
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}
.contact-form input,.contact-form textarea{
  font-size: .85rem;
  font-family: Arial, Helvetica, sans-serif;
}
.contact-form input{
  border: 0;
  padding-left: 0%;
  border-bottom: thin solid var(--second-color);
}
.contact-form textarea{
  border: thin solid var(--second-color);
  resize: none;
}
.text-center{
  text-align: center;
}
.none{
  display: none;
}
.contact-form input[type="submit"]{
  margin-top: 0%;
  cursor: pointer;
  transition: all.5s ease-out;
}
.contact-form input[type="submit"]:hover{
  opacity: 75%;
}
.contact-form *::placeholder{
color: var(--green-color);
}
.contact-form-response{
  margin-left: 2rem;
  padding: 1rem;
  width: 300px;
  text-align: center;
  color: var(--third-color);
  background-color: var(--green-color);
}
.contact-form-response svg{
  margin-top: 2rem;
  width: 4rem;
  height: 4rem;
  fill: var(--third-color);

}

.modal#graias:target{
  opacity: 1;
  pointer-events: auto;
}



/******screen******/
@media screen and (min-width: 768px){
   .contact-cards{
    display: grid;
    grid-template-columns: repeat(2,48%);
    justify-content:space-between ;
  }
}

@media screen and (min-width: 1024px){
   .contact-cards{
    grid-template-columns: repeat(4,24%);
    
  }
}
  

